{% include('header.twig') %}


<form action="__easyinstall/install?__installengine" method="post">

<label for="enc">String para encriptacion</label>
<input type="text" name="ENC_SALT" id="enc" value="{{ ENC_SALT }}"><br/><br/>

<label for="usedb">Usar BD</label>
<input type="checkbox" name="USE_BD" id="usedb"><br/><br/>

<label for="tpdb">Tipo de BD</label>
<select id="tpdb" name="BD.TYPE">
    <option value="MYSQL">MySQL</option>
</select><br/><br/>


<label for="host">Host de BD</label>
<input type="text" name="BD_HOST" id="host" value="localhost"><br/><br/>

<label for="name">Nombre DB</label>
<input type="text" name="BD_NAMEDB" id="name" value=""><br/><br/>

<label for="user">User DB</label>
<input type="text" name="BD_USER" id="user" value="root"><br/><br/>

<label for="pass">Pass DB</label>
<input type="text" name="BD_PASS" id="pass" value=""><br/><br/>

<input type="submit" />

</form>

{% include('footer.twig') %}